body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1614853316695-60bb46998d6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color:#fff;
    background-image: url(https://images.unsplash.com/photo-1510051640316-cee39563ddab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    background-position: center;   
}

h1 {
    margin-left: 50px;
    font-size: 60px;
    font-family: 'Kanit', sans-serif;
  text-shadow: 3px 1px grey;
}

label, span{
    text-align: center;
}

.question {
    display: flex;
    flex-direction: column; 
    background-color: 	#C0EDA6;
    opacity: .9; 
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px 10px #d3cece;  
} 

label {
    color: #000000;
    padding: 10px;
    font-size: 20px;
  text-shadow: 1px 1px grey;
    font-family: 'Kanit', sans-serif;
}

span {
    color: #000000;
    padding: 7px 0 0 10px;
    font-family: 'Kanit', sans-serif;
}

#btn {
    box-shadow: 5px 10px 18px #888888;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background-color: #212121;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-family: 'Kanit', sans-serif;
}

#btn:hover{
   background-color: #fff;
    color: #212121;
}
p {
    padding: 7px 0 0 10px;
    font-family: 'Kanit', sans-serif;
}

#show {
    color:#fff ;
    text-shadow: 1px 1px #383838 ;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

section {
     background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    
}


#p {
    background-color: rgba(26,60,39, 1);
    display: none;
    font-size: 28px;
    color: #f6e3ca;
    margin-top: 200px;
    padding: 20px;
    width: 70%;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

#show1, #show2, #show3, #show4, #show5, #show6, #show7, #show8, #show9, #show10, #show11, #show12{
text-align: center;
}


@media all and (max-width: 800px) {
    h1{
        font-size:45px;
    }
   
    
    #p {
        font-size: 20px;
        margin-top: 100px;
    }
}

@media all and (max-width: 500px) {
    h1{
        font-size: 35px;
        color:#fff;
        text-shadow: 3px 1px grey;
        margin-left: 5px; 
      text-align:center;
      font-weight:bolder;
    }

       
    #p {
        font-size: 20px;
        margin-top: 100px;
    }
  #btn {
    
    padding: 30px;
    
    border-radius: 0px;
  
}
  .question {
    
    background-color: 	#F9F9C5;
   
   
}